[phases.setup]
nixPkgs = ["dotnet-sdk_9"]

[phases.install]
cmds = [
  "dotnet restore IsYonetimiSistemi.Shared/IsYonetimiSistemi.Shared.csproj",
  "dotnet restore IsYonetimiSistemi.TelegramBot/IsYonetimiSistemi.TelegramBot.csproj"
]

[phases.build]
cmds = [
  "dotnet publish IsYonetimiSistemi.TelegramBot/IsYonetimiSistemi.TelegramBot.csproj -c Release -o out --no-restore"
]

[start]
cmd = "dotnet out/IsYonetimiSistemi.TelegramBot.dll"